@font-face {
    font-family: 'Epilogue';
    src: url('/fonts/Epilogue-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf') format('opentype');
}

@font-face {
    font-family: Open Sans;
    src: url('/fonts/OpenSans-Regular.ttf') format('opentype');
}

@font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-Regular.ttf') format('opentype');
}

.font-family-epilogue {
    font-family: Epilogue;
}

.font-family-inter {
    font-family: Inter;
}

.font-family-open-sans {
    font-family: Open Sans;
}

.font-family-poppins {
    font-family: Poppins;
}